body {
  background-image: url("./img/typewriter-801921.jpg");
  background-size: cover;
}

#contentarea {
  color: white;
  border: 5px;
  border-radius: 5px;
  background-color: darkslategray;
  margin: 5vh 15vw 5vh 15vw ;
  max-width: 80vw;
}

#content-wrapper {
  height: 100%;
}

.inner-content {
  padding: 2vh 5% 5vh 5% ;
}

#wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
 }

 #welcome {
    margin-right: 30%;
    margin-left: 35%;
 }

 .navdrop {
     text-decoration: none;
     list-style-type: none;
     color: inherit;
     padding-left: 0;
 }

.nav-link {
     color: darkslategray;
 }
 
 .list-group-item {
   border: none;
 }


 #menu-toggle {
     margin-left: 5px;
     margin-right: 0;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.img-fluid {
    width: 100% \9;
}

#sidebar-img {
    max-width: 100px;
}

.img-thumbnail {
    border: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #sidebar-img {
    max-width: 150px;
}

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
    
  }
}