body {
    background: linear-gradient(-45deg, #0e6cc4, #00C9E8, #E8F779, #00C9E8, #0e6cc4);
    background-color: #00C9E8;
    background-size: 500%;
    animation: gradient 15s ease infinite;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.inner-content {
    padding: 2vh 2% 5vh 2%;
}

#wrapper {
    overflow-x: hidden;
}

.topbar {
    position: fixed;
    width: 100vw;
    text-align: center;
}

#menu-toggle {
    color: black;
    margin: 1vh 1vw;
    float: left;
    font-size: x-large;
}

#menu-icon {
    height: auto;
    max-width: 80%;
}

#welcomeText {
    color: black;
    margin-right: 10vw;
    margin-top: 1vh;
    font-size: x-large;
}

#content-wrapper {
    display: inline-block;
    height: 100%;
    border: none;
}

#contentarea {
    display: table;
    color: white;
    margin: 20vh auto;
    border: 5px;
    border-radius: 5px;
    background-color: darkslategray;
    max-width: 75%;
}

.navdrop {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    padding-left: 0;
}

.nav-link {
    color: black;
    font-size: large;
}

.list-group-item {
    border: none;
}

#sidebar-wrapper {
    background-color: darkslategray;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.img-fluid {
    width: 100% \9;
}

#sidebar-img {
    background: transparent;
    max-width: 100px;
    height: auto;
    margin-left: 9%;
}

.img-thumbnail {
    border: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #sidebar-img {
        max-width: 150px;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
    #welcomeText {
        color: black;
        margin-right: 10vw;
        margin-top: 1vh;
        font-size: xxx-large;
    }
    #menu-icon {
        height: auto;
        max-width: 100%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}