body {
  background: linear-gradient(-45deg, #003DE6, #00C9E8, #E8F779, #8FFFEC);
	background-size: 500%;
	animation: gradient 12s ease infinite;
  margin: 0;
  padding: 0;
  background-color: #0e6cc4;
  overflow-x:hidden;
  overflow-y:hidden;
}

#content-wrapper {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 100%;
}

#contentarea {
  display:table;
  color: white;
  margin: 0 auto;
  border: 5px;
  border-radius: 5px;
  background-color: darkslategray;
  max-width: 75%;
}

.inner-content {
  padding: 2vh 2% 5vh 2% ;
}

#wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
 }

 #welcome {
  margin-right: auto;
  margin-left: auto;
 }

 #title-link {
  text-decoration: none;
  color: inherit;
 }

 .navdrop {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  padding-left: 0;
 }

.nav-link {
     color: darkslategray;
 }
 
 .list-group-item {
   border: none;
 }

 #menu-toggle {
     margin-left: 5px;
     margin-right: 0;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.img-fluid {
    width: 100% \9;
}

#sidebar-img {
    max-width: 100%;
    height: auto;
    margin-left: 9%;
}

.img-thumbnail {
    border: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #sidebar-img {
    max-width: 150px;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
    
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 40%;
	}
	50% {
		background-position: 100% 40%;
	}
	100% {
		background-position: 0% 40%;
	}
}